Copasa.Atende.Solution/Copasa.Atende.Console/Service References/SRServidorFTP/files.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeletaArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeArquivo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletaArquivoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecebeBytesArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dadosUpload" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecebeBytesArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RecebeBytesArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaArquivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nomeArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificadorlote" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="urlFtp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuarioFtp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaFtp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviaArquivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviaArquivoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeletaArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaArquivo" />
  </wsdl:message>
  <wsdl:message name="DeletaArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="RecebeBytesArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:RecebeBytesArquivo" />
  </wsdl:message>
  <wsdl:message name="RecebeBytesArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:RecebeBytesArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="EnviaArquivoSoapIn">
    <wsdl:part name="parameters" element="tns:EnviaArquivo" />
  </wsdl:message>
  <wsdl:message name="EnviaArquivoSoapOut">
    <wsdl:part name="parameters" element="tns:EnviaArquivoResponse" />
  </wsdl:message>
  <wsdl:portType name="FilesSoap">
    <wsdl:operation name="DeletaArquivo">
      <wsdl:input message="tns:DeletaArquivoSoapIn" />
      <wsdl:output message="tns:DeletaArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecebeBytesArquivo">
      <wsdl:input message="tns:RecebeBytesArquivoSoapIn" />
      <wsdl:output message="tns:RecebeBytesArquivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviaArquivo">
      <wsdl:input message="tns:EnviaArquivoSoapIn" />
      <wsdl:output message="tns:EnviaArquivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilesSoap" type="tns:FilesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeletaArquivo">
      <soap:operation soapAction="http://tempuri.org/DeletaArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecebeBytesArquivo">
      <soap:operation soapAction="http://tempuri.org/RecebeBytesArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaArquivo">
      <soap:operation soapAction="http://tempuri.org/EnviaArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilesSoap12" type="tns:FilesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeletaArquivo">
      <soap12:operation soapAction="http://tempuri.org/DeletaArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecebeBytesArquivo">
      <soap12:operation soapAction="http://tempuri.org/RecebeBytesArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaArquivo">
      <soap12:operation soapAction="http://tempuri.org/EnviaArquivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Files">
    <wsdl:port name="FilesSoap" binding="tns:FilesSoap">
      <soap:address location="http://homologa-net:8080/WebServiceSigos/files.asmx" />
    </wsdl:port>
    <wsdl:port name="FilesSoap12" binding="tns:FilesSoap12">
      <soap12:address location="http://homologa-net:8080/WebServiceSigos/files.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>